.table_grid{
    display:grid;
    min-width: 100%;
    grid-template-columns: 
      50px //star
      60px //id
      minmax(140px, 1.8fr) //date
      minmax(80px, 1.5fr) //status
      minmax(250px, 4.5fr) //way
      minmax(120px, 1.6fr) //typeCar
      minmax(50px, 2.2fr) //company
      120px //bid
      minmax(50px, 4.5fr); //btns
    thead, tbody, tr{
      display: contents;
    }
    tr{
      th{
        padding: 0 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom: 1px solid #D9DFE5;
        position: sticky;
        top: 0;
        background: #fff;
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        font-weight: bold;

        box-sizing: border-box;
        height: 40px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
      }
    }

  }
  