$c-gray: #8F949B;

tr.BidItem{    
    >td{
        padding: 0 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom: 1px solid #D9DFE5;

        box-sizing: border-box;
        height: 40px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &:last-child{
            // padding-right: 15px;
        }

        .dateTime{
            display: grid;
            grid-template-columns: 48% auto 48%;
            grid-template-rows: 50% 50%;
            grid-row-gap: 2px;
            justify-content: space-between;
            position: relative;
            grid-template-areas: 
              "ds . de"
              "ts . te";
      
            .dateStart{
              grid-area: ds;
              &:after{          
                content: '-';
                position: absolute;
                left: 50%;
                width: 10px;
                text-align: center;
                margin-left: -5px;
              }
            }
            .dateEnd{
              grid-area: de;
              justify-self: end;
            }
            .timeStart, .timeEnd{
              color: $c-gray;
              font-size: 11px;
            }
            .timeStart{
              grid-area: ts;
              &:after{          
                content: '-';
                position: absolute;
                left: 50%;
                width: 10px;
                text-align: center;
                margin-left: -5px;
                color: inherit;
                font-size: 11px;
              }
            }
            .timeEnd{
              grid-area: te;
              justify-self: end;
            }
        }
        &.bidWay{
            display: grid;
            grid-template-columns: auto 1fr auto auto;
            grid-template-rows: 1fr;
            justify-content: space-between;
            position: relative;
            color: #2C2730;
            grid-template-areas: "ws wa we wh";
            grid-column-gap: 5px;
            >*{
                align-self:center;
            }
            .wayStart{
                grid-area: ws;
            }
            .wayEnd{
                grid-area: we;
            }
            .wayArrow{
                grid-area: wa;
                background: url(../img/Shipment.png) right center no-repeat;
                background-size: auto 6px;
            }
            .wayHint{
                grid-area: wh;
                button{
                    height: 20px;
                    border: 1px solid #8F949B;
                    color: #8F949B;
                    background: #fff;
                    border-radius: 2px;
                    cursor: pointer;
                    padding: 0 3px;
                    font-size: 11px;
                    &:hover{
                        border: 1px solid #777;
                        color: #777;
                    }
                    &:focus, :active{
                        outline: none;
                    }
                }
            }
        }
        &.colPrice{
            padding-right: 15px;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr;
            justify-content: space-between;
            grid-template-areas: "price fire";
            grid-column-gap: 5px;
            >*{
                align-self:center;
            }   
            .price_cost{
                grid-area: price;
            }
            .fireIco{
                grid-area: fire;
            }
        }
        &.aboutCar{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr;
            justify-content: space-between;
            grid-template-areas: "car info";
            grid-column-gap: 5px;
            >*{
                align-self:center;
            }            
            .CarIco{
                grid-area: car;
            }
            .CarInfo{
                grid-area: info;
                .infoIcoSvg{
                    cursor: pointer;
                    &:hover{
                        .circle{
                            fill: 'red' !important;
                        }
                    }
                }
            }            
        }

        &.goCol{
            display: grid;
            grid-template-columns: auto auto 1fr;
            grid-template-rows: 1fr;
            justify-content: space-between;
            grid-template-areas: "price step btn";
            // grid-column-gap: 5px;
            >*{
                align-self:center;
            }              
            .goCol-price{
                grid-area: price;
            }
            .goCol-step{
                grid-area: step;
                padding: 1px 5px 0;
                color: $c-gray;
                font-size: 11px;
            }
            .goCol-btn{
                grid-area: btn;
                // padding: 0 10px;
                div{
                    font-style: italic;
                    font-size: 12px;
                    width: 100%;
                    text-align: center;
                    line-height: 30px;
                    position: relative;
                    &:before{
                        content: '';
                        width: 9px;
                        height: 17px;
                        background: url(../img/win-r.png) center center no-repeat;
                        background-size: 9px 17px;
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        left: -5px;
                    }
                    &:after{
                        content: '';                        
                        width: 9px;
                        height: 17px;
                        background: url(../img/win-l.png) center center no-repeat;
                        background-size: 9px 17px;
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        right: -5px;
                    }
                }
            }
        }
        .ellipses{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;            
        }
    }
    &:hover, &.win{
        td{
            background: #FFF4CC;
        }
    }
    .goBtn{
        border: 1px solid #0B9C4C;
        background: #fff;
        color: #0B9C4C;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        width: 100%;
        line-height: 26px;
        font-weight: 500;
        font-size: 14px;
        font-family: 'Roboto';
        padding: 0;
        &:hover{
            background: #0B9C4C;
            color: #fff;
        }
    }

    .simpleLink{
        text-decoration: none;
        color: #07874B;
    }
}

.star{
    font-size: 2rem;
    &.gold{
        color: gold;
    }
    &.black{
        color:black;
    }
}

.star{
    cursor: pointer;
}

