.table_grid{
    display:grid;
    min-width: 100%;
    grid-template-columns: 
      50px
      80px 
      150px 
      100px
      minmax(50px, 3fr) 
      120px
      minmax(50px, 1.5fr) 
      minmax(50px, 1.2fr) 
      minmax(50px, 4fr);
    thead, tbody, tr{
      display: contents;
    }
    tr{
      th{
        padding: 0 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom: 1px solid #D9DFE5;
        position: sticky;
        top: 0;
        background: #fff;
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        font-weight: bold;

        box-sizing: border-box;
        height: 40px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
      }
    }

  }
  